/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}


.Bulletinbtn,
a.Bulletinbtn,
button.Bulletinbtn {
  margin-left: 10px;
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 0.6;
  position: relative;
  display: inline-block;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.Bulletinbtn--blue {
  color: #ffffff;
  background-color: #00bfff;
  border-bottom: 5px solid #627295;
}

a.Bulletinbtn--blue:hover {
  margin-top: 3px;
  color: #ffffff;
  background: #00bfff;
  border-bottom: 2px solid #627295;
}

.hoge{
    margin-left: 10px;
    width: 40%; /*親要素いっぱい広げる*/
    padding: 10px 15px; /*ボックスを大きくする*/
    font-size: 16px;
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #00bfff; /*枠線*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}

input:focus {
    border:solid 1px #ffffff;
}

#head {
    color: #00bfff;
}

.c {
    font-size: large;
    font-weight: 1000;
    color: #00bfff;
}

.submit {
  margin-left: 10px;
  margin-bottom: 10px;
  display       : inline-block;
  border-radius : 10%;          /* 角丸       */
  font-size     : 11pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 7px 12px;   /* 余白       */
  background    : #00bfff;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #00bfff;    /* 枠の指定 */
}
.submit:hover {
  color         : #00bfff;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

#big {
    font-size: x-large;
    font-weight: 800;
    color: #F16682;
}

#pad {
    margin-top: 50px;
}

textarea {
  width: 60%; /* 幅 */
  margin: 1em 0; /* 周囲の余白 */
  padding: 0.5em; /* 枠線内の余白 */
  font-size: 1em; /* フォントサイズ */
  border: solid 2px #00bfff; /* 枠線のスタイル */
  border-radius: 4px; /* 角丸に */
  resize: none; /* リサイズ不可に */
}
/* フォーカス時のスタイル */
textarea:focus {
  border-color: #00bfff;
  outline: 0;
}

h1 {
    margin-top: 10px;
  color: #F16682;/*文字色*/
  /*線の種類（点線）2px 線色*/
  border-bottom: dashed 2px #00bfff;
}
