@charset "utf-8";
/*ユーザープロフィールでの各ボタン
--------------------------------*/

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

/*いいねボタン*/
.btn-pushGood {
  margin-left: 260px;
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: left;
  background-color: #e8e8e8;
  font-size: 16px;
  color: #666666;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 100%;
  border-bottom: 4px solid #b8b8b8;
}

.btn-pushGood:active {
    transform: translateY(4px);
    border-bottom: none;
}

/*タイプ！ボタン*/
.btn-pushLove {
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: left;
  background-color: #e8e8e8;
  font-size: 16px;
  color: #666666;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 100%;
  border-bottom: 4px solid #b8b8b8;
}

.btn-pushLove:active {
    transform: translateY(4px);
    border-bottom: none;
}

/*メッセージボタン*/
a.btn--blue {
    font-size: 1.5rem;
    position: relative;
    padding: 1.5rem 3rem 1.5rem 2rem;
    border-radius: 100vh;
    margin-left: 170px;
    color: #fff;
    background-color: #00bfff;
}

a.btn--blue:hover {
  color: #fff;
  background: #00bfff;
}

a.btn--blue.btn--cubic {
  border-bottom: 5px solid #627295;
}

a.btn--blue.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 2px solid #627295;
}

a.btn-c {
  font-size: 2rem;
  position: relative;
  padding: 1.5rem 3rem 1.5rem 2rem;
  border-radius: 100vh;
}

a.btn-c i.fa {
  margin-right: 1rem;
}

a.btn-c:before {
  font-family: 'Font Awesome 5 Free';
  font-size: 1.6rem;
  line-height: 1;
  position: absolute;
  top: calc(50% - .8rem);
  right: 1rem;
  margin: 0;
  padding: 0;
  content: '\f054';
}

.fa-position-right {
    position: absolute;
    top: calc(50% - .5em);
    right: 1rem;
}

.fa-position-left {
  position: absolute;
  top: calc(50% - .5em);
  left: 1rem;
}

