.submit {
  margin-left: 10px;
  margin-bottom: 10px;
  display       : inline-block;
  border-radius : 10%;          /* 角丸       */
  font-size     : 11pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 7px 12px;   /* 余白       */
  background    : #0bd;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #0bd;    /* 枠の指定 */
}
.submit:hover {
  color         : #0bd;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}


textarea {
  width: 600px;
  margin: 1em 0; /* 周囲の余白 */
  padding: 0.5em; /* 枠線内の余白 */
  font-size: 1em; /* フォントサイズ */
  border: solid 2px #0bd; /* 枠線のスタイル */
  border-radius: 4px; /* 角丸に */
  resize: none; /* リサイズ不可に */
}
/* フォーカス時のスタイル */
textarea:focus {
  border-color: #0bd;
  outline: 0;
}

h1 {
  text-align: center;
  margin-top: 5%;
  padding: 0.3em;
  background: aliceblue;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.23);
}
